//
// Default Button Pattern
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

// Base styles for default buttons
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
%default-button {
    @extend %button;

    @include rem(font-size, $default-button-font-size);
    @include line-height($default-button-line-height-multiple, $default-button-font-size);
    @include rem(padding, $default-button-padding);

    color: palette(white);
    background-color: palette(blue);

    &:hover, &:focus {
        color: palette(white);
        background-color: palette(blue, dark);
    }
}
