//
// Location Search
// _-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

.location-search {
    position: relative;
}

.location-submit {
    @extend %default-button;

    position: absolute;
    right: 0;
}
