<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>WeatherCast</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--<link rel="stylesheet" href="/css/style.css" />-->
    </head>

    <body ng-controller="Forecast as forecast">
        <header class="primary-header">
            <h1>WeatherCast</h1>
            <p class="tagline">Quick 7 day weather forecasts</p>
        </header>

        <form class="location-search" ng-submit="forecast.getForecast()">
            <input class="location-input" type="search" placeholder="Your location" ng-model="forecast.query" />
            <button class="location-submit" type="submit">Go</button>
        </form>

        <section class="forecast" ng-show="forecast.forecasts">
            <header class="forecast-header">
                <h1>{{forecast.location.name + ', ' + forecast.location.country}}</h1>
            </header>

            <ul class="forecast-days">
                <li class="forecast-day" ng-repeat="forecast in forecast.forecasts">
                    <h2>{{(forecast.dt * 1000) | date: 'EEEE dd/MM/yy'}}</h2>
                    <p class="forecast-description">{{forecast.weather[0].description}}</p>
                    <dl class="forecast-data">
                        <dt>High:</dt>
                        <dd>{{forecast.temp.max | celsius}}&deg;C/{{forecast.temp.max | fahrenheit}}&deg;F</dd>

                        <dt>Low:</dt>
                        <dd>{{forecast.temp.min | celsius}}&deg;C/{{forecast.temp.min | fahrenheit}}&deg;F</dd>

                        <dt>Wind:</dt>
                        <dd>{{forecast.speed}}m/s</dd>

                        <dt>Humidity:</dt>
                        <dd>{{forecast.humidity}}&#37;</dd>
                    </dl>
                </li>
            </ul>
        </section>

        <footer class="primary-footer">
            <p>&copy; <a href="http://johncheesman.org.uk/">John Cheesman</a> {{forecast.date | date: 'yyyy'}} // Powered by <a href="http://openweathermap.org/">Open Weather Map</a> and <a href="http://angularjs.org/">Angular JS</a></a></p>
        </footer>

        <script src="/js/scripts.js"></script>
    </body>
</html>
